<!-- -------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------- -->
<div th:replace="@{commons/commom_cabecalho}"></div>
<!-- -------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------- -->
<!--===============================================-->
	<section class="content">
<!--===============================================-->
	<div class="box box-warning">
		<div class="box-header with-border">
			<i class="ion ion-ios-calendar-outline"></i>
			<h3 class="box-title">Reviões em atenção (5 dias antecedência)</h3>
		</div>
		<div class="box-body table-responsive no-padding">
			<table class="table table-hover">
				<tr>
					<th>#</th>
					<th>Cliente</th>
					<th>Data da revisão</th>
					<th>Dias para revisão</th>
					<th>Valor revisão</th>
					<th width="20%">Situação</th>
				</tr>			
			</table>
		</div>
	</div>
	
	
<!-- -------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------- -->


<div th:replace="@{commons/commom_rodape}"></div>